[submodule "docs/ncov"]
	path = docs/ncov
	url = https://github.com/nextstrain/ncov.git
[submodule "docs/augur"]
	path = docs/augur
	url = https://github.com/nextstrain/augur.git
[submodule "docs/auspice"]
	path = docs/auspice
	url = https://github.com/nextstrain/auspice.git
	branch = migrate-docs
[submodule "docs/cli"]
	path = docs/cli
	url = https://github.com/nextstrain/cli.git
