[submodule "src/ncov"]
	path = src/ncov
	url = https://github.com/nextstrain/ncov.git
	branch = migrate-docs
[submodule "src/augur"]
	path = src/augur
	url = https://github.com/nextstrain/augur.git
	branch = migrate-docs
[submodule "src/auspice"]
	path = src/auspice
	url = https://github.com/nextstrain/auspice.git
	branch = migrate-docs
[submodule "src/cli"]
	path = src/cli
	url = https://github.com/nextstrain/cli.git
	branch = migrate-docs
