body {
  font-family: Lato, 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, legend, .rst-content .toctree-wrapper p.caption {
  font-family: Lato, 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

a {
  color: #5097BA;
}

/* Sidebar */
.wy-nav-side {
  background: #f2f2f2;
}

/* Remove sidebar TOC link colors and hover states */
.wy-menu-vertical a, 
.wy-menu-vertical a:hover,
.wy-menu-vertical li.on a:hover,
.wy-menu-vertical li.current > a:hover {
  color: black;
  background: none;
}

/* Remove sidebar TOC heading/caption color */
.wy-menu-vertical p.caption {
  color: #666;
}

/* Remove blue accent border */
.wy-side-nav-search input[type="text"] {
  border-color: rgb(204, 204, 204);
}
